@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 200px;
    background-color: #FAF1E6;
}

.navbar-logo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar-logo img{
    height: 40px;
}

.navbar-logo h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
}

.navbar-links{
    margin-left: 200px;
}

.navbar-links a{
    margin: 0px 30px;
    font-weight: 600;
}

.navbar-links a:hover{
    color: #8B4513;
    transition: 0.5s ease-in;
}

@media (max-width: 450px) {

}

@media (min-width: 450px) and (max-width: 860px) {

}

@media (min-width: 860px) and (max-width: 1030px) {
   
}

@media (min-width: 1090px) and (max-width: 1740px) {
    
}