.scroll-buttons {
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-btn {
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: #5a2e0e;
}

.recipe-suggestions-component{
    background-color: #C9A66B;
    margin: 30px 300px;
    border-radius: 5px;
    padding: 20px 10px;
}

.recipe-suggestions-component h4{
    margin: 20px 0px 30px;
    font-size: 17px;
    font-weight: 500;
}

.recipe-suggestions{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

/* .recipe-suggestions::-webkit-scrollbar {
    display: none;
} */

.why-recipe-text{
    text-align: left;
    margin: 20px 0px 10px;
}

.why-recipe-component{
    background-color: #C9A66B;
    margin: 30px 300px;
    border-radius: 5px;
    padding: 20px 10px;
}

@media (max-width:500px) {
    .scroll-btn {
        display: none;
    }

    .recipe-suggestions-component{
        margin: 30px;
        padding: 10px;
    }

    .recipe-suggestions-component h2{
        margin: 10px 0px 0px;
        font-size: 20px;
    }

    .recipe-suggestions-component h4{
        margin: 15px 0px;
        font-size: 15px;
    }
}

@media (min-width:500px) and (max-width: 860px) {
    .scroll-btn {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }
    .recipe-suggestions-component{
        margin: 40px 60px;
        padding: 10px 5px;
    }

    .recipe-suggestions-component h2{
        margin: 10px 0px 0px;
        font-size: 23px;
    }

    .recipe-suggestions-component h4{
        margin: 20px 0px;
        font-size: 16px;
    }
}

@media (min-width: 860px) and (max-width: 1030px) {
   .recipe-suggestions-component{
        margin: 40px 90px;
        padding: 10px;
    }

    .recipe-suggestions-component h2{
        margin: 10px 0px 0px;
        font-size: 23px;
    }

    .recipe-suggestions-component h4{
        margin: 20px 0px;
        font-size: 16px;
    }
}

@media (min-width: 1030px) and (max-width: 1250px) {
    .recipe-suggestions-component{
        margin: 40px 120px;
    }

    .recipe-suggestions-component h2{
        margin: 10px 0px 0px;
        font-size: 24px;
    }

    .recipe-suggestions-component h4{
        margin: 20px 0px;
        font-size: 17px;
    }
}

@media (min-width: 1250px) and (max-width: 1440px) {
    .recipe-suggestions-component{
        margin: 40px 150px;
    }

    .recipe-suggestions-component h2{
        margin: 10px 0px 0px;
        font-size: 24px;
    }

    .recipe-suggestions-component h4{
        margin: 20px 0px;
        font-size: 18px;
    }
}