.scroll-buttons {
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-btn {
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: #5a2e0e;
}

.recipe-suggestions-component{
    background-color: #C9A66B;
    margin: 30px 300px;
    border-radius: 5px;
    padding: 20px 10px;
}

.recipe-suggestions-component h4{
    margin: 20px 0px 30px;
    font-size: 17px;
    font-weight: 500;
}

.recipe-suggestions{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

/* .recipe-suggestions::-webkit-scrollbar {
    display: none;
} */

.why-recipe-text{
    text-align: left;
    margin: 20px 0px 10px;
}

.why-recipe-component{
    background-color: #C9A66B;
    margin: 30px 300px;
    border-radius: 5px;
    padding: 20px 10px;
}

@media (max-width: 450px) {

}

@media (min-width: 450px) and (max-width: 860px) {

}

@media (min-width: 860px) and (max-width: 1030px) {
   
}

@media (min-width: 1090px) and (max-width: 1740px) {
    
}